<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TeamFinder</title>
    <link rel="stylesheet" href="index.css">
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
</head>

<body ng-app="myApp">
<h1>Team Finder</h1>
<div ng-controller ="appController">
<p>Welcome to the best team finding tool ever created</p>
<Button ng-click="login()">Login</Button>
<Button ng-click="register()" >Register</Button>
<Button><a href="profile.html">Go to profile</a></Button>
<button><a href="post.html">Create a post</a></button>
        <button id="forgotBtn">Forgot password</button><br>
        <input type="text" ng-model="newPassword" placeholder="New password"><br>
        <button id="changeBtn">Change my password</button>



<input type="text" ng-model="loginMail" placeholder="E-mail address"></input>
<input type="text" ng-model="loginPassword" placeholder="password"></input>
<input type='text' id='nameInput' placeholder='Name'>
<input type='text' id='messageInput' placeholder='Message'>
<p>{{authMessage}}</p>
<div>Welcome {{username}}</div>
<div id='messagesDiv'></div>
</div>

<script src='app.js'></script>

</body>
</html>