
#chatSystemTest {
    float: left;
}
#userManagementTest {
    float: right;
    margin-right: 300px;
}
#postTest {
    float: left;
    clear: both;
    margin-top: 40px;
}
#postsDiv {
    float: left;
    clear: both;
}
#postsDiv div{
    border: 1px solid black;
    margin-top: 10px;
}
.loginStatus {
    float: right;
}