<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TeamFinder</title>
    <link rel="stylesheet" href="index.css">
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
</head>

<body ng-app="myApp">
<h1>Team Finder</h1>
<div ng-controller ="appController">
<p>Welcome to the best team finding tool ever created</p>
<Button ng-click="login()">Login</Button>
<Button ng-click="register()" >Register</Button>
<Button><a href="profile.html">Go to profile</a></Button>
        <button id="deleteBtn">Delete my account</button>
        <button id="forgotBtn">Forgot password</button><br>
        <input type="text" ng-model="newPassword" placeholder="New password"><br>
        <button id="changeBtn">Change my password</button>



<input type="text" ng-model="loginMail" placeholder="E-mail address"></input>
<input type="text" ng-model="loginPassword" placeholder="password"></input>
<input type='text' id='nameInput' placeholder='Name'>
<input type='text' id='messageInput' placeholder='Message'>
<p>{{authMessage}}</p>
<div>Welcome {{username}}</div>
<div id='messagesDiv'></div>
</div>

    </div>
    <div id="postTest">
        <label>Create a post</label><br>
        <input type="text" id="titleInput" placeholder="Title"><br>
        <textarea type="text" id="descriptionInput" placeholder="Description" rows="4" cols="50"></textarea><br>
        <label>I'm looking for a:</label>
        <select id="roleInput">
            <option value=".Net_Programmer">.Net Programmer</option>
            <option value="Database_expert">Database expert</option>
            <option value="Designer">Graphic designer</option>
            <option value="Marketer">Marketer</option>
            <option value="Database_expert">Web designer</option>
        </select>
        <br><button id="postBtn">Post!</button>
    </div>
    <div id="postsDiv"></div>
<script src='app.js'></script>

</body>
</html>