#lichaam{
	background-color: #1c3f5e;
}
.navbar
{
	background-color:	#1c5e5c;
	border: 1px solid 	#5e1c1e;
}

.navbar li{color:#1c5e5c; }

.title
{
	text-align: center;
	color: 	#5e1c1e;
	text-shadow:-1px 0 white, 0 2px white, 1px 0 white, 0 -1px white;
	padding: 2%;
	font-weight: bolder;
	font-family: 'Raleway',sans-serif;
}
.main{
	width: 80%;
	margin: 1% auto;
	background-color: white;
	border: 2px solid black;
	padding: 5%;
}
.center{
	text-align: center;
}
#hoofd
{
	margin: 1% auto;
	text-align: center;
	color: 	#5e1c1e;
	text-shadow:-1px 0 #ad8dae, 0 2px #ad8dae, 1px 0 #ad8dae, 0 -1px #ad8dae;

	font-size: 320%;
	font-weight: bolder;
	font-family: 'Raleway',sans-serif;
}
h2
{
	font-weight: bolder;
	font-family: 'Raleway',sans-serif;
}
button {
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}
input {
	margin-top: 5px;
	margin-bottom: 5px;
}
p {
	color: white;
}

#listitem
{
	color: #3396fb;
	list-style-type: none;
	font-size: 200%;
	font-family: arial;
	font-weight: bolder;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	display: inline;
	margin-right: 5%;

}
.postnav{
	margin: 0% auto;
	text-align: center;
	background-color: #fa9732;
	border: 1px solid black;
	width: 80%;
}

#listitem a:hover{text-decoration: none;}
#listitem a:active{text-decoration: none;}
#listitem a{text-decoration: none; }


#New
{
	background-color: white;
	width: 100%;
	padding: 5%;
}
#myposts
{
	border: 3px solid black;
	background: white;
	width: 80%;
	margin: 0 auto 2% auto;
	padding: 3%;
}
#allposts {
	border: 3px solid black;
	background: white;
	width: 80%;
	margin: 0 auto 2% auto;
	padding: 3%;
}