<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" type="text/css" href="post.css">
    
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src='post.js'></script>
</head>

<body id="lichaam" ng-app="myPost" ng-controller ="postController">

    <nav class="navbar navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Team Assembler</a>
            </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="post.html">POST</a></li  >
                    <li><a href="profile.html">PROFILE</a></li>
                    <li ><a href="pay.html">UPGRADE</a></li>
                </ul>
            <div class="loginStatus">
                <p >Logged in as: {{username}}</p>                
                <a href="index.html" ng-click="logout()"><p >Logout</p></a>
            </div>
        </div>
    </nav>



    <div class="container">
      <h1 id="hoofd">Post</h1>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu1">New Post</a></li>
        <li  ng-click="getAllPosts()"><a data-toggle="tab" href="#menu2" >All Posts</a></li>
        <li ng-click="showPosts('mine')"><a data-toggle="tab" href="#menu3">My Posts</a></li>        
        <li><a data-toggle="tab" href="#menu4">Favourites</a></li>
      </ul>

        <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
              <div id="New">
                    <h2>Create a post</h2><br>
                    <input type="text" ng-model="titleInput" placeholder="Title"><br>
                    <textarea type="text" ng-model="descriptionInput" placeholder="Description" rows="4" cols="50"></textarea><br>
                    <label>I'm looking for a:</label>
                    <select ng-model="roleInput">
                        <option value=".Net_programmer">.Net Programmer</option>
                        <option value="Database_expert">Database expert</option>
                        <option value="Graphic_designer">Graphic designer</option>
                        <option value="Marketer">Marketer</option>
                        <option value="Web_designer">Web designer</option>
                    </select>
                <br><button ng-click="createPost()" class="btn btn-warning">Post!</button>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade post" >
    
                <div id="allposts" ng-repeat="x in posts">
                    <h1>{{x.title}}</h1>
                    <p>{{x.description}}</p>
                    <p>Looking for: {{x.role}}</p>                    
                    <button ng-click="add(x.postNR)">Add</button>
                    <button ng-click="contact()">Contact</button>
                </div>
            </div>
            <div id="menu3" class="tab-pane fade">

                <div id="myposts" ng-repeat="x in myPosts">
                    
                    <h1>{{x.title}}</h1>
                    <p>{{x.description}}</p>
                    <p>Looking for: {{x.role}}</p>                    
                    <button href="/" ng-click="deletePost(x.postNR)">delete</button>
                </div>
                
            </div>
            <div id="menu4" class="tab-pane fade">
                <div class="adds">       
            </div>
        </div>
      </div>
</div>   


</body>
</html>

