body{background-color: 
#1c3f5e}
.navbar
{
	background-color:	#1c5e5c;
	border: 1px solid 	#5e1c1e;
}

.navbar li{color:#1c5e5c; }

.title
{
	text-align: center;
	color: 	#5e1c1e;
	text-shadow:-1px 0 #ad8dae, 0 2px #ad8dae, 1px 0 #ad8dae, 0 -1px #ad8dae;
	padding: 2%;
	font-weight: bolder;
	font-family: 'Raleway',sans-serif;
}
.main{
	width: 80%;
	margin: 1% auto;
	background-color: white;
	border: 2px solid black;
	padding: 5%;
}
h1
{
	margin: 1% auto;
	text-align: center;
	color: 	#5e1c1e;
	text-shadow:-1px 0 #ad8dae, 0 2px #ad8dae, 1px 0 #ad8dae, 0 -1px #ad8dae;
	padding: 1%;
	font-size: 320%;
	font-weight: bolder;
	font-family: 'Raleway',sans-serif;
}
button{margin-top: 0.5%;
margin-bottom: 0.5%;}
input{margin-top: 0.5%;
margin-bottom: 0.5%;}