<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="index.css">
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src='profile.js'></script>
</head>

<body ng-app="myProfile">
<h1>Profile</h1>
<div ng-controller ="profileController">
<p>Change profile settings</p>
<div ng-if = "user">
    <input ng-model="user.first_name" type="text" placeholder="First name"></input>
    <input ng-model="user.last_name" type="text" placeholder="Last name"></input>
    <label for="specialty"> Specialty: </label>
        <select name="specialty" ng-model="user.specialty">
        
                <option value=".Net_Programmer">.Net Programmer</option>
                <option value="Database_expert">Database expert</option>
                <option value="Designer">Graphic designer</option>
                <option value="Marketer">Marketer</option>
                <option value="Database_expert">Web designer</option>
        </select>
</div>
<div  ng-if = "user==null">
    <input ng-model="firstName" type="text" placeholder="First name"></input>
    <input ng-model="lastName" type="text" placeholder="Last name"></input>
    <label for="specialty"> Specialty: </label>
        <select name="specialty" ng-model="specialty">
          <option value=".Net_Programmer" selected="selected">.Net Programmer</option>
                <option value="Database_expert">Database expert</option>
                <option value="Graphic_designer">Graphic designer</option>
                <option value="Marketer">Marketer</option>
                <option value="Web_designer">Web designer</option>
        </select>
</div>
<Button ng-click="saveProfile()">Save</Button>
<Button><a href="index.html">Cancel </a></Button>
<Button><a href="profile.html">Go to profile</a></Button>
<button id="deleteBtn">Delete my account</button>
        <br>
<Button ng-click="showUserName()">Show name</Button>
        <input type="text" ng-model="newPassword" placeholder="New password"><br>
<div>Welcome {{username}}</div>
</div>


</body>
</html>