<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="profile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src='profile.js'></script>
</head>

<body ng-app="myProfile">
<nav class="navbar navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">Team Assembler</a>
                    </div>
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="#">LOGIN</a></li>
                      <li><a href="#">PROJECTS</a></li>
                      <li><a href="post.html">POST</a></li> 
                      <li><a href="profile.html">PROFILE</a></li>
                      <li><a href="#">SETTINGS</a></li> 
                    </ul>
                </div>
            </nav>

<h1>Profile</h1>
<div class="main"ng-controller ="profileController">
<div>Welcome {{username}}</div>
<p>Change profile settings</p>
<div>
    <input ng-model="user.first_name" type="text" placeholder="First name"></input>
    <input ng-model="user.last_name" type="text" placeholder="Last name"></input>
    <label for="specialty"> Specialty: </label>
        <select name="specialty" ng-model="user.specialty">
        
                <option value=".Net_Programmer">.Net Programmer</option>
                <option value="Database_expert">Database expert</option>
                <option value="Designer">Graphic designer</option>
                <option value="Marketer">Marketer</option>
                <option value="Web_designer">Web designer</option>
        </select>
</div>
<Button class="btn btn-sm btn-primary" ng-click="saveProfile()">Save</Button>
<Button class="btn btn-sm btn-secondary"><a href="index.html">Cancel </a></Button>
<Button class="btn btn-sm"><a href="profile.html">Go to profile</a></Button>
<br/>
<button class="btn btn-sm" ng-click="deleteAccount()">Delete my account</button>
        <br/>
<input type="text" ng-model="loginPassword" placeholder="password"></input>
    <br/>
    <button ng-click="removeProfile()">Remove profile</button>
        <br/>
<Button class="btn btn-sm" ng-click="showUserName()">Show name</Button><br/>
<Button class="btn btn-sm" ng-click="changePassword()">Change password</Button>
<input type="text" ng-model="newPassword" placeholder="New password"><br>

</div>


</body>
</html>