<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="projects.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src='projects.js'></script>
</head>

<body ng-app="projects">

<nav class="navbar navbar" ng-controller ="projectsController">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">Team Assembler</a>
                    </div>
                    <ul class="nav navbar-nav">
                      <li><a href="projects.html">PROJECTS</a></li>
                    </ul>
                    <div class="loginStatus">
                        <p ng-if="username">Logged in as: {{username}}</p>
                        <p ng-if="username==null">Update your <a href="profile.html"> profile </a></p>
                        <a href="#" ng-click="logout()"><p >Logout</p></a>
                    </div>
                </div>
            </nav>
<div class="main" ng-controller ="projectsController">
    <h1 class="title">Projects</h1>
    <div id="projectsDiv"></div>
</div>
</body>
</html>